<!-- content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- message -->
 <% if (locals.messages) { %>
    <div class="flash-messages">
        <%- messages() %>
    </div>
<% } %>

<!-- error -->
 <% if (errors && errors.length > 0) { %>
    <ul class="notice error-messages">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
<% } %>

<h2>Welcome <%= account.account_firstname %></h2>
<% if (locals.account.account_type === "Admin" || locals.account.account_type === "Employee") { %>
  <p>
    <a href="/account/update/<%= account.account_id %>">Update Account Information</a>
  </p>
  <!-- Final Enhancement -->
  <p>
    <a href="/account/delete/<%= account.account_id %>">Delete This Account</a>
  </p>
  <!--  -->
  <h3>Inventory Management</h3>
  <p>
    <a href="/inv/">Go to Inventory Management</a>
  </p>
<% } %>
