<!-- content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- message -->
 <% if (locals.messages) { %>
    <div class="flash-messages">
        <%- messages() %>
    </div>
<% } %>

<!-- error -->
 <% if (errors && errors.length > 0) { %>
    <ul class="notice error-messages">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
<% } %>

<!-- Links -->
<ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a Classification</p>
<select id="classificationList" name="classificationList" required>
  <option value="">Choose a Classification</option>
  <% classificationSelect.forEach(function(classification) { %>
  <option value="<%= classification.classification_id %>"><%= classification.classification_name %></option>
  <% }) %>
</select>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>
